<!DOCTYPE html>
<html>
<head>
    <title>Personal Profile Webpage</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <h1>Personal Profile Webpage</h1>
        <hr>
        <div class="buttons">
            <button @click="showSection('about')">About Me</button>
            <button @click="showSection('education')">Education/Achievements</button>
            <button @click="showSection('course')">Course</button>
            <button @click="showSection('experience')">IT Experience</button>
            <button @click="showSection('hobbies')">Hobbies & Interests</button>
            <button @click="showSection('goals')">Goals In Life / Dream</button>
            <button @click="showSection('gallery')">Picture Gallery</button>
        </div>
        <div v-if="currentSection === 'about'" class="section">
            <h2>About Me</h2>
            <img src="https://scontent.fmnl30-3.fna.fbcdn.net/v/t39.30808-6/397276092_1026365705364210_7686919848526335867_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGEgfwOQ0fRKe74W9gvttiISbU6V23Yf_tJtTpXbdh_-z9zEtt1UxDzDi6-Dh9YaXfEGDdrZG35Tr-9mSiZNxzu&_nc_ohc=LfAH5LRD0f0Q7kNvgHdErKH&_nc_oc=AdhrE7IU-1L2IVa-ajO7HBPwFnv2-zTAN7DWEW9Hk45ffFvzxaMHkbl22x80aNfkB1c&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&_nc_gid=AmLzHb7t1QHnR1SSPaQr7kD&oh=00_AYDDg-uYn_C4tzoQY5k6xd07vxgQ4aaeW1tHpGDvzBOjvA&oe=678DAB49" width="200" height="200">
            <p>My name is Julian Rylie B. Tengco, but you can call me Rylie.</p>
        </div>
        <div v-if="currentSection === 'education'" class="section">
            <h3>Education / Achievements</h3>
            <p>I completed my Junior High and Senior High education at Maranatha Christian Academy of Imus, where I graduated with High Honors in the STEM strand. Currently, I am pursuing a Bachelor of Science in Information Technology with a specialization in Mobile and Internet Technologies at Asia Pacific College, where I am in my 1st Year of College with Honors.</p>
        </div>
        <div v-if="currentSection === 'course'" class="section">
            <h3>Course</h3>
            <p>I am enrolled in the Bachelor of Science in Information Technology program with a specialization in Mobile and Internet Technologies.</p>
        </div>
        <div v-if="currentSection === 'experience'" class="section">
            <h3>IT Experience</h3>
            <p>My IT experience includes learning the basics of Java and Python programming languages.</p>
        </div>
        <div v-if="currentSection === 'hobbies'" class="section">
            <h3>Hobbies & Interests</h3>
            <p>My hobbies and interests include going to the gym, playing volleyball, playing games, reading manga and manhwa, and watching anime.</p>
        </div>
        <div v-if="currentSection === 'goals'" class="section">
            <h3>Goals In Life / Dream</h3>
            <p>My goals in life are to be successful, have a stable income, and live a happy life.</p>
        </div>
        <div v-if="currentSection === 'gallery'" class="section">
            <h3>Picture Gallery</h3>
            <table>
                <tr>
                    <th><img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/466090860_10231618610862078_8587321304385120819_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeES8SVtME7Bo3aQgkc4qkg81o48mIe3KjDWjjyYh7cqMDX5brQRNWXq8MOb_PWoeD8WhxcNGGK1DwSFaUQfzQno&_nc_ohc=IkIgxabJtHgQ7kNvgE0QX2l&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=AkEzfJ4wZCV-VnfiwTIpeg6&oh=00_AYD3QkFOAen11H-pBaTrRvvr_8GC_f4C_9cBBfevUaqvNw&oe=674D2B4E" width="150" height="250"></th>
                    <th><img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/420046902_10229175949477070_3866920294696858339_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeHpDdY-bf6G5j_L9zkosvtUxUsew__fMqfFSx7D_98yp5iVGEDt2zt_GnQMws7NU6-sqFnENch8WBVG-Vpa1qVG&_nc_ohc=T48FHOi_f9YQ7kNvgHWuPvG&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=AP5P6_kzqNQ8TpWTyvcAs9_&oh=00_AYD6GYcmKQHK-AZhcdgrmF3-o0kA3qR1JVzNpi1cLio7cQ&oe=674D3554" width="270" height="250"></th>
                    <th><img src="https://scontent.fmnl30-3.fna.fbcdn.net/v/t39.30808-6/415105343_10229109419853871_8289723606772477606_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeHIV_8cDTo8YdRDWCtg4jzmEZh5piVxNRcRmHmmJXE1F5-Jb0X4b3qyO3Yx3qTzPCVhD_6BzmdN0EKWf4KJa27s&_nc_ohc=R1BBVI0QlvgQ7kNvgGl6NM0&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&_nc_gid=AK6Ub3l9lBtTGIsyqAvqEIs&oh=00_AYDUJ7EUi11Vvo5C7_lnhDeiK1BFVKhnKwfha4eJPlSdmg&oe=674D2305" width="250" height="250"></th>
                    <th><img src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t39.30808-6/358110330_10228013991348843_5353747846420754753_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeEamDs5a9kSU6SPo6Q_WXoYF7qqHJZQn0cXuqocllCfRzUwurb8-nxO3BSEOT-Zi2nXokj-KZR1xCAcEkcrUtSF&_nc_ohc=5QVGm-SiwMAQ7kNvgH8KHWb&_nc_zt=23&_nc_ht=scontent.fmnl30-1.fna&_nc_gid=ARHKx838tmVD4wppD27BpBn&oh=00_AYDfeauce9VlkmyjWpUe9y5LRr_t8Yfxz9WZVp64m-lEQg&oe=674D20EE" width="250" height="250"></th>
                </tr>
                <tr>
                    <th><img src="https://scontent.fmnl30-2.fna.fbcdn.net/v/t39.30808-6/455239085_10230425536115955_751924280905187996_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeEeDPosyTR2idcwQ6h7s3XenetYGzZdN9id61gbNl032Bh8LQalOT-Sxoy8ZOiLJs1hHS9EKhLV3JAX8tX5JOGt&_nc_ohc=cDSue7fqwagQ7kNvgHU1zMV&_nc_zt=23&_nc_ht=scontent.fmnl30-2.fna&_nc_gid=AlJ2bgVpBR1o4xCVrKk_uSH&oh=00_AYBrUHRPLVU_zEco9byHM3vHln2oLvMkHBa52fqNImQBhA&oe=674D4836" width="420" height="200"></th>
                    <th><img src="https://scontent.fmnl30-3.fna.fbcdn.net/v/t39.30808-6/441622826_10229843355001791_2042345510567426174_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=f727a1&_nc_eui2=AeHQhKBifRfjc153TUN354zsrQgtbzC7oQOtCC1vMLuhA8bsz3nmnzNaiW3LtrNipaSlWPe_qo54_jBf9O5FQyjl&_nc_ohc=pattGyBfcWkQ7kNvgE0HarK&_nc_zt=23&_nc_ht=scontent.fmnl30-3.fna&_nc_gid=AiorB_KQQ21-9w4fnUtbO5o&oh=00_AYCyKYUo2EqM8DYQDOGRB0LW-XUKNmEYv-MyyoE_rnFsxQ&oe=674D404D" width="420" height="200"></th>
                </tr>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js"></script>
</body>
</html>
